.highlight-table {
    font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
    color: #24292f;
    font-size: 14px;
}

.hl-num::before {
    content: attr(data-line);
}

/* String */
.hl-s {
    color: #0a3069
}

/* Identifier */
.hl-id {
    color: #b465e2
}

/* Keyword */
.hl-k {
    color: #cf222e
}

/* Constant */
.hl-c {
    color: #0550ae
}
