.highlight-table {
    font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
    color: #24292f;
    font-size: 12px;
    word-wrap: normal;
    white-space: pre;
}

.hl-num {
    color: #6e7781;
    line-height: 20px;
    text-align: right;
    padding-right: 10px;
    padding-left: 10px;
}

.hl-num::before {
    content: attr(data-line);
}

/* String */
.hl-s {
    color: #0a3069
}

/* Identifier */
.hl-id {
    color: #b465e2
}

/* Keyword */
.hl-k {
    color: #cf222e
}

/* Constant */
.hl-c {
    color: #0550ae
}

.hl-cmt {
    color: #6e7781
}

/* Entity */
.hl-en {
    color: #8250df
}

/* Entity tag */
.hl-ent {
    color: #116329
}

/* Var */
.hl-v {
    color: #953800
}